@media (max-width: 768px) {
  .blog__card-cotainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  .blog__card-img {
    width: 100%;
    margin-bottom: 10px;
  }
  .blog__card {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  .blog {
    width: 85%;
    margin: 0 auto;
  }
}
@media (min-width: 769px) {
  .blog__card-cotainer {
    display: flex;
    align-items: center;
  }
  .blog__card-img {
    width: 35%;
    margin-bottom: 10px;
  }
  .blog__card {
    width: 32%;
    margin-left: 22px;
  }
  .blog {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
}
.blog__ttl {
  font-size: 28px;
  font-weight: 600;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  margin-bottom: 30px;
}
.blog__card-cotent p {
  font-size: 14px;
  line-height: 30px;
}
.blog__card-cotent-ttl {
  font-weight: bold;
}
.blog__card-cotent-ttl {
  text-decoration: none;
  color: black;
}
.blog__btn {
  background-color: firebrick;
  width: 300px;
  color: white;
  font-size: 16px;
  margin: 0px auto;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 52px;
  margin-top: 30px;
  margin-bottom: 60px;
}

/* ↓リンク先 */
@media (max-width: 768px) {
  .blog__nav-card-cotainer {
    margin: 0 auto;
    width: 85%;
    margin-bottom: 60px;
  }
  .blog__nav-card-inner {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    display: block;
  }
  .blog__nav-card {
    width: 100%;
    display: block;
  }
}

@media (min-width: 769px) {
  .blog__nav-card-cotainer {
    margin: 0 auto;
    width: 960px;
    margin-bottom: 60px;
  }
  .blog__nav-card-inner {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    margin: 0 auto;
  }
  .blog__nav-card {
    width: 32%;
    box-sizing: border-box;
    margin: 0 auto 10px;
  }
  .blog__nav-card-img {
    width: 100%;
  }
}
*/ .blog__nav-card-cotent p {
  font-size: 14px;
  line-height: 30px;
}
.blog__nav-card-cotent-ttl {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 12px;
}
