
table th,
table td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 24px 0;
}
.commpany {
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  table {
    width: 90%;
    margin: 0 auto;
  }
}


@media (min-width: 769px) {
  table {
  width: 960px;
  margin: 0 auto;
}
}