* {
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .news {
    background-color: black;
    padding: 50px 0;
  }
  .mmm {
    display: flex;
    justify-content: space-between;
  }
  .news__content {
  margin-top: 20px;
  }
  .news__content-newslist-text {
    background-color: white;
    line-height: 34px;
    margin-bottom: 10px;
    display: block;
  }
    .news__top {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 60px;
    background-color: black;
  }
}





@media (min-width: 769px) {
  .news {
    /* width: 100%; */
    background-color: black;
  }
  .news__content-newslist-text {
    background-color: white;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
  }
  .news__content {
    margin: 20px;
  }
  .mmm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 60px 20px 0;
  }
  .news__top {
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-bottom: 60px;
    background-color: black;
  }
}

.news__heading {
  color: white;
  font-size: 24px;
  letter-spacing: 5px;
  line-height: 60px;
}
.news__content-btn a {
  background-color: firebrick;
  width: 100px;
  color: white;
  font-size: 12px;
  text-decoration: none;
  padding: 10px 14px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  line-height: 60px;
}

.news__content-newslist a {
  display: flex;
  color: black;
  text-decoration: none;
  display: block;
  padding-left: 20px;
  font-size: 16px;
}
.news__content-newslist span {
  font-weight: 600;
  margin-left: 20px;
  font-size: 16px;
}

/* ↓リンク先 */
@media (max-width: 768px) {
  .news__newslist-text {
    line-height: 42px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    border: 1px solid black;
    color: black;
    font-size: 14px;
    width: 100%;
    padding-left: 10px;
  }
  .news__nav-newslist {
    margin: 0 auto;
    width: 90%;
  }
}
@media (min-width: 769px) {
  .news__newslist-text {
    line-height: 60px;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    padding-left: 20px;
    border: 1px solid black;
    color: black;
  }
  .news__nav-newslist {
    margin: 0 auto;
    width: 950px;
  }
}

.news__nav-newslist li {
  list-style: none;
}

.news__newslist-text span {
  font-weight: bold;
  margin-left: 10px;
}
.news__nav {
  margin-bottom: 80px;
}
